@font-face {
  font-family: "NeutraText";
  src: url("NeutraText-Bold.otf") format("opentype")
}

.App-header {
  background: #eb005a;
  height: 64px;
  text-align: left;
}

.App-logo {
  background: white;
}

.Title {
  display: inline-block;
  margin: 7px 2px 0;
  vertical-align: top;
  color: white;
  font-size: 44px;
  font-family: NeutraText;
}